*{
  background-color: #403f3f;
  margin: 0;
}

#goldText{
  margin-top: 20px;
  position: absolute;
  right: 60px;
  color: #FFDF00;
}

.btn{
  margin-top: 20px;
}

#buyAutoMine{
  margin-top: 80px;
  position: absolute;
  right: 20px;
}
